@inject IViewLocalizer Localizer

@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["Header"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create"]</a>
</p>

<form data-ajax="true"
      data-ajax-url="@Url.Action("EmployeeSearch")" ,
      data-ajax-update="#employeeList" ,
      data-ajax-mode="replace">
    <input type="text" name="name" />
    <input type="submit" value="@Localizer["Search"]" />
</form>
<br />
<div id="employeeList">
    <partial for="@Model" name="_EmployeesSearch" />
</div>
