@inject IViewLocalizer Localizer

@model IEnumerable<OrganizationViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Add" asp-route-id="@item.Id">@Localizer["Add"]</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                        <a asp-action="Remove" asp-route-id="@item.Id">@Localizer["Remove"]</a> |
                        <a href="#"
                           data-ajax="true"
                           data-ajax-url="@Url.Action("Delete", new {id = item.Id})"
                           data-ajax-update="#organizationsList"
                           data-ajax-mode="replace"
                           data-ajax-confirm="Are you sure you want to delete this?">
                            @Localizer["Delete"]
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
