@inject IViewLocalizer Localizer

@model AddEmployeeToOrganizationViewModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["Header"]</h1>

<h4>@Localizer["Model"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="hidden" asp-for="OrganizationId" />
            </div>
            <div class="form-group">
                <label asp-for="SelectedEmployeeId"></label>
                <select asp-for="SelectedEmployeeId" asp-items="Model.Employees" class="form-control">
                    <option selected="selected" disabled="disabled">-- Select --</option>
                </select>
                <span asp-validation-for="SelectedEmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedRoleId"></label>
                <select asp-for="SelectedRoleId" asp-items="Model.Roles" class="form-control">
                    <option selected="selected" disabled="disabled">-- Select --</option>
                </select>
                <span asp-validation-for="SelectedRoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Post"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        var url = '@Url.Action("GetRolesAdd")';
        var organization = $('#OrganizationId');
        var roles = $('#SelectedRoleId');
        $('#SelectedEmployeeId').change(function() {
            roles.empty();
            $.getJSON(url, { organizationId:organization.val(), employeeId: $(this).val() },function(data) {
                if (!data) {
                    return;
                }
                roles.append($('<option></option>').val('').text('-- Select --'));
                $.each(data, function(index, item) {
                    roles.append($('<option></option>').val(item.id).text(item.name));
                });
            });
        });
    </script>
}
