@inject IViewLocalizer Localizer

@model AssignNewRoleViewModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["Header"]</h1>

<h4>@Localizer["Model"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignRole" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="hidden" asp-for="OrganizationId" />
            </div>
            <div class="form-group">
                <label asp-for="SelectedEmployeeId"></label>
                <select asp-for="SelectedEmployeeId" asp-items="Model.Employees" class="form-control">
                    <option selected="selected" disabled="disabled">-- Select --</option>
                </select>
                <span asp-validation-for="SelectedEmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedRoleAddId"></label>
                <select asp-for="SelectedRoleAddId" asp-items="Model.RolesAdd" class="form-control">
                    <option selected="selected" disabled="disabled">-- Select --</option>
                </select>
                <span asp-validation-for="SelectedRoleAddId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedRoleRemoveId"></label>
                <select asp-for="SelectedRoleRemoveId" asp-items="Model.RolesRemove" class="form-control">
                    <option selected="selected" value="@string.Empty">-- Select --</option>
                </select>
                <span asp-validation-for="SelectedRoleRemoveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Post"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        var url = '@Url.Action("GetRoles")';
        var organization = $('#OrganizationId');
        var rolesAdd = $('#SelectedRoleAddId');
        var rolesRemove = $('#SelectedRoleRemoveId');
        $('#SelectedEmployeeId').change(function() {
            rolesAdd.empty();
            rolesRemove.empty();
            $.getJSON(url, { organizationId:organization.val(), employeeId: $(this).val() },function(data) {
                if (!data) {
                    return;
                }
                rolesAdd.append($('<option></option>').val('').text('-- Select --'));
                $.each(data[0], function(index, item) {
                    rolesAdd.append($('<option></option>').val(item.id).text(item.name));
                });
                rolesRemove.append($('<option></option>').val('').text('-- Select --'));
                $.each(data[1], function(index, item) {
                    rolesRemove.append($('<option></option>').val(item.id).text(item.name));
                });
            });
        });
    </script>
}
