@model IEnumerable<EmployeeRoleViewModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Organization details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Organization.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td>@Html.ActionLink("NewRole", "AssignRole", new { id = item.Organization.Id, employeeId = item.Employee.Id })</td>
                </tr>
            }
        }
    </tbody>
</table>
