@inject IViewLocalizer Localizer

@model IEnumerable<OrganizationViewModel>

@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["Header"]</h1>

<p>
    <a asp-action="Create">@Localizer["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Add" asp-route-id="@item.Id">@Localizer["Add"]</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                        <a asp-action="Remove" asp-route-id="@item.Id">@Localizer["Remove"]</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
