@model List<ProductForOrderViewModel>

@{
    ViewData["Title"] = "Pies";
}

<h1>@ViewData["Title"]</h1>

@foreach (var item in Model)
{
    <form data-ajax="true" data-ajax-method="Post" data-ajax-url="@Url.Action("Add")">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="data:image/png;base64,@item.ImageUrl" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <label asp-for="@item.Price"></label>
                        <span class="text-success">@item.Price</span>
                        <div class="form-group">
                            <label asp-for="@item.Weight"></label>
                            <input asp-for="@item.Weight" min="500" step="100" />
                            <span asp-validation-for="@item.Weight"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@item.Quantity"></label>
                            <input asp-for="@item.Quantity" min="1" />
                            <span asp-validation-for="@item.Quantity"></span>
                        </div>
                        <input type="hidden" asp-for="@item.ProductId" />
                        <input type="submit" value="В корзину" />
                        @if (User.IsInRole(Roles.Admin))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ProductId">Изменить</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
