@model List<ProductForOrderViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@item.ImageUrl" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <input asp-for="@item.Weight" />
                    <input asp-for="@item.Quantity" />
                    <a href="#" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
    </div>
}

